.blueBack {
    text-align: center;
    background-color: #B9C0DA;
    height: 70px;
}

.headStyle {
    color: beige;
    font-size: 40px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}