nav {
    text-align: center;
    background-color: #B9C0DA;
    height: 70px;
}

span {
    color: beige;
    font-size: 40px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

body {
    background-color: #ECF0F1;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

p {
    padding-left: 80px;
    padding-right: 80px;
    text-indent: 60px;
}

div {
    text-align: center;
}